.Container {
  margin: 5rem 2rem 2rem 2rem;
  background-color: #ffffff;
  height: 100%;
}

.Container a {
  text-decoration: none;
}

.EmptyCartContainer a {
  text-decoration: none;
}

@media only screen and (max-width: 569px) {
  .Container {
    margin: 5rem 0 0 0;
  }
}

.Arrow {
  margin: 2rem;
  cursor: pointer;
  color: #000;
}

.BackArrow {
  margin: 0 2rem;
  cursor: pointer;
  padding-top: 2rem;
  color: #000;
}

.ArrowText {
  margin-left: 1rem;
  font-size: 1.2rem;
}
